:root{
    --primary: 
    --secondary: #0000FF;
}

* {
    box-sizing: border-box;
}


.is-UVgood {
    background-color: #3FBF3F;
}

.is-UVmoderate {
    background-color: #EA841F;
}

.is-UVhigh {
    background-color: red;
}

#forecast-area article{
    min-width: 200px;
}

/* html, body {
    min-height: 100%;
    background-color: cornsilk;
}

header {
    background-color: #0000FF;
    height: 100%;
    width: 100%;
    padding: 30px;
}

header h1 {
    color: white;
    text-align: center;
}

main {
    display: flex;
}

.nav-panel {
    padding: 5px;
}

#target-current-weather{
    border-color: black;
    margin: 5px;
    border-top: 10px;
    border-width: 2px;
}

#forecast-area{
    display: flex;
}


footer {
    border-top: 2px solid #0000FF;
} */